2016_D2D_Framework/D2DSentioLib/Debug/D2DSentioLib.tlog/lib.command.1.tlog
2016_D2D_Framework/D2DSentioLib/Debug/D2DSentioLib.tlog/Lib-link.write.1.tlog
2016_D2D_Framework/D2DSentioLib/Debug/D2DSentioLib.idb
2016_D2D_Framework/D2DSentioLib/Debug/D2DSentioLib.tlog/Lib-link.read.1.tlog
2016_D2D_Framework/D2DSentioLib/Debug/D2DSentioLib.tlog/D2DSentioLib.lastbuildstate
2016_D2D_Framework/D2DSentioLib/Debug/D2DSentioLib.tlog/CL.write.1.tlog
2016_D2D_Framework/D2DSentioLib/Debug/D2DSentioLib.tlog/CL.command.1.tlog
2016_D2D_Framework/D2DSentioLib/Debug/D2DSentioLib.tlog/CL.read.1.tlog
2016_D2D_Framework/ipch/D2DSENTIOLIB-8bf86b9a/D2DSENTIOLIB-e2b6484f.ipch
2016_D2D_Framework/D2DTestPart/Debug/D2DTestPart.tlog/D2DTestPart.lastbuildstate
2016_D2D_Framework/2016_D2D_Framework.sdf
*.obj
*.tlog
*.log
*.ipch
2016_D2D_Framework/x64/Debug/D2DSentioLib.lib
2016_D2D_Framework/D2DSentioLib/x64/Debug/vc120.pdb
2016_D2D_Framework/D2DSentioLib/x64/Debug/vc120.idb
2016_D2D_Framework/D2DSentioLib/x64/Debug/D2DSentioLib.pch
2016_D2D_Framework/2016_D2D_Framework.v12.suo
*.idb
2016_D2D_Framework/D2DTestPart/x64/Debug/vc120.pdb
*.pch
2016_D2D_Framework/x64/Debug/D2DTestPart.pdb
2016_D2D_Framework/2016_D2D_Framework.opensdf
2016_D2D_Framework/x64/Debug/D2DTestPart.exe
2016_D2D_Framework/x64/Debug/D2DTestPart.ilk
2016_D2D_Framework/D2DTestPart/D2DTestPart.vcxproj.user